@import url("home.css");

#creator{
    margin:30px auto;
    width:1000px;
    text-align: center;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 10vh;
}