* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;              
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #f4f3f1;
    display: flex;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
}

#header img {
    height: 60px;
    width: auto;
    border-radius: 12px;
}


#log_sign {
    margin-right: auto;
}

#log_sign a {
    text-decoration: none;
    color: black;
}

#log_sign a:hover {
    text-decoration: underline;
}


#navbar {
    position: fixed;
    list-style: none;
    top: 80px;                
    left: 0;
    width: 240px;            
    height: calc(100vh - 80px);
    background: #f7f7f7;
    border-right: 2px solid #f4f3f1;
    padding: 20px;
    overflow-y: auto;
}

#navbar section {
    margin-bottom: 100px;
    margin-right: 20;
}

.nav-head{
    color: black;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.nav-head:hover{
    background-color: #03A9F4;
    color: white;
}


#navbar a {
    font-weight: bold;
    text-decoration: none;
}



.content {
    display: none;
    margin-top: 8px;
}

section:hover .content {
    display: block;
}

.main-content {
    margin-top: 80px;          
    margin-left: 240px;        
    padding: 30px;
    min-height: calc(100vh - 80px);
    background: #ffffff;
}


.slideshow-container {
    display: flex;
    justify-content: center;
}

.slideshow-container img {
    width: 800px;
    height: 500px;
    /* border-radius: 20px; */
    object-fit: cover;
    border: 2px solid black;
}


.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to   { opacity: 1; }
}

#disp {
    margin-top: 40px;
}

#disp p {
    font-size: 18px;
}


footer {
    margin-left: 240px;    
    border-top: 2px solid #f4f3f1;
    padding: 20px;
    text-align: center;
}

#foot a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#foot a:hover {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}


@media (max-width: 900px) {
    #navbar {
        width: 200px;
    }

    .main-content,
    footer {
        margin-left: 200px;
    }
}
