/*for Header and Login and Signup*/
*{
    box-sizing:border-box;
    font-family: 'Kalam', cursive;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

h1{
    text-align: center;
    height:75px;
    word-spacing: 1.5px;
    letter-spacing: 5px;
    padding-top:20px;
    margin: 0px;
    font-size:50px;
    color: red;
    text-shadow: 2px 2px 2px grey;
}

.head{
    position: fixed;
    top:0px;
}

#header img{
    height:75px;
    width:300px;
    border-radius:20px;
    position:absolute;
    top:10px;
    left:25px;
}

img:hover{
    border:15px solid white;
    transition-duration: 0.20s;
}

#header{
    background-color: white;
    height:100px;
    width:100%;
    margin-bottom: 10px;
}

#log_sign{
    padding-top:25px;
    width:300px;
    position:fixed;
    top:10px;
    left: 1200px;
    font-weight:bolder;
}

#log_sign li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}

#log_sign li a{
    text-decoration:none;            
    color:black;
    font-size:25px;
}

#log_sign li a:hover{
    text-decoration: underline;
    border-radius:30px;
    /* border:3px solid black; */
    padding:10px;
    transition-duration: 0.20s;
}

a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
/*
    for small screen
*/
@media(max-width:1340px) { 
    #header h1{
        display: none;
    }
    #header{
        width:100%;
    }
    img{
        position:static;
        margin:0px 0px;
        display: inline-block;
        width:300px;
    }
    #log_sign{
        position:absolute;
        top:10px;
        right:20px;
        display: inline-block;
        width:200px;
    }
}

/*For Nav Bar*/
.content{
    display: none;
}
div li{
    list-style: none;
    display: block;
   margin-left: 20px;
}
#navbar div{
    display: inline-block;
    margin-right: 30px;
}
#navbar{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin:120px auto 0px;
    /* width:1000px; */
    font-size: 20px;
    /* border-radius:30px; */
    height:100px;
}

#nav div{
    border:2px solid black;
    border-radius: 30px;
    text-align: center;
    padding:10px;
    margin-left: 20px;
    width: 220px; /* Add this line */
    height: 60px; 
}

#nav div:hover{
    background-image: linear-gradient(90deg,white);
    transition-property: "background-image";
    transition-duration: 0.25s;
}

/*For content drop down*/
.content{
    display: none;
    position:absolute;
    margin-top:15px;
    z-index: 1;
    text-align: left;
    border:2px solid black;
    border-radius: 20px;
    padding:10px;
    background-image: linear-gradient(105deg,white);
    color:white;
}


.content li{
    border-bottom: 2px dashed lightslategray;
    padding:0px 10px;
}
.content li:last-child{
    border-bottom:none;
}

.content li:hover{
    background:linear-gradient(90deg,white);
    border-radius:30px;
}
#nav div:hover .content{
    display: block;    
}

/*for about us */
#foot{
    /* position: fixed; */
    bottom:0px;    
    background-color: black;
    display: block;
    width: 100%;
    padding:30px;
}
#foot a{
    color: white;
    font-size:30px;
    font-weight: bolder;
}
#foot a:hover{
    border-radius:30px;
    border:3px solid white;
    padding:5px;
}
div#disp{
    position: relative;
    left:50px;
}
@media(max-height:700px){
    div#disp{
        position: relative;
        top:50px;
        left:50px
    }
}
#disp dev{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}
#disp p{
    display: none;
}
input{
    box-sizing:border-box;
    height:50px;
    border-radius:30px;
    border:2px solid black;
    padding:20px;
    font-size:25px;
    padding-left:50px;
    width:300px;
    text-overflow: ellipsis;
    margin:15px;
    color:black;
}

/* Slideshow pictures */
.mySlides 
{
    display: none;
    z-index:0;
}
.slideshow-container img
{
    vertical-align: middle;
    height:300px;
    width:500px;
    border-radius: 30px;
    z-index: 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    top:20px;
    left:250px;
    margin: 0px auto;
    z-index:0;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: 0;
    z-index:0;
}

/* Number text (1/3 etc) */
.numbertext {
    color:black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index:0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index:0;
}

.active {
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    z-index:0;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

#balance{
    margin-bottom: 10vh;
}